html {
  padding: 0 150px;
  font-family: 'Arial', sans-serif;
}

body {
  min-width: 960px;
}

a {
  text-decoration: none;
}

.warning {
  color: red;
}

.hide {
  display: none;
}

#navbar1 a {
  float: left;
}

#navbar1 {
  background-color: transparent !important;
  background-image: none;
  border: none;
}

#navbar1 img {
  height: 55px;
}

#navbar1 ul {
  float: right;
  list-style: none;
}

#navbar1 ul li {
  float: left;
  width: 100px;
  position: relative;
}

#mainContentSidebar {
  float: left;
  width: 28%;
  margin-right: 2%;
  margin-left: 0;
  padding-top: 20px;
}

#mainContentSidebar ul {
  list-style: none;
  padding: 9px;
}

#mainContentSidebar ul .ui-widget-header {
  padding: 0.3em;
}

#mainContentBody {
  width: 70%;
  float: right;
}

/* Sortbar*/
#sortBar {
  height: 30px;
  padding-left: 1em;
}

#sortBar ul {
  padding-left: 0;
  float: left;
  list-style: none;
}

#sortBar ul li {
  float: left;
  margin: 0 10px;
  position: relative;
}

/* Searchbar*/
#searchBar {
  padding-left: 1em;
  padding-top: 20px;
}

#searchBar .searchbox {
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px !important;
}

#searchBar .searchSubmit {
  width: 100%;
  padding: 0.5em 1em;
  display: block;
  background: red url("/image/search-icon.png") no-repeat center center;
  background-size: 30px;
  border: none;
  height: 50px;
  cursor: pointer;
}

#searchBar .searchSubmit:hover {
  background-color: darkred;
}

/* Product list*/
#mainContentBody #productList, #productContainer {
  list-style: none;
  padding-left: 1em;
}

.productItem {
  border-top: 1px solid #d3d4d4;
}

.productItemInner {
  display: block;
  clear: both;
  overflow: hidden;
  padding: 1em 0;
}

.productImage {
  width: 25%;
  float: left;
  display: inline;
}

.productImage img {
  height: 140px;
}

.productDetails {
  display: inline;
  width: 50%;
  float: left;
  font-size: 20px;
}

.productDetails h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.productDetails p {
  margin: 0;
}

.productPrice {
  display: inline;
  width: 20%;
  float: left;
}

.productPrice .price {
  font-size: 40px;
}

.productPrice button {
  margin-top: 20px;
}

/* Single product */
#productContainer .productDetailsTop {
  height: 300px;
}

#productContainer .productImage {
  width: 35%;
  float: left;
}

#productContainer img {
  height: 250px;
}

#productContainer h1 {
  margin: 0;
}

#productContainer h5 {
  margin: 0;
}
